---
import { Icon } from 'astro-icon/components'

const navMenu = ['home', 'about', 'experience', 'skills', 'projects', 'contact']
---

<my-navigation
  class:list={[
    'text-brand-gray bg-brand-dark2 border-0.5 border-brand-gray w-fit h-fit',
    'flex flex-col gap-6 rounded-20 py-4 px-2',
    'fixed z-30 inset-y-0 my-auto right-3 md:right-10 xl:right-16',
  ]}
  data-sections={navMenu}
>
  {
    navMenu.map((menu) => (
      <a
        href={`#${menu}`}
        id={`nav-${menu}`}
        title={menu}
        class="text-base sm:text-xl lg:text-2xl"
      >
        <Icon name={menu} class="cursor-pointer" />
        <span class="sr-only">{menu}</span>
      </a>
    ))
  }
</my-navigation>

<style></style>

<script>
  let sections = []
  class Navigation extends HTMLElement {
    constructor() {
      super()

      sections = this.dataset.sections.split(',').map((section) => ({
        name: section,
        activePosition: document.getElementById(section).offsetTop,
      }))
    }
  }

  customElements.define('my-navigation', Navigation)

  let currentActive = window.location.href.split('#')[1] ?? 'home'
  // scroll on first load
  document.getElementById(currentActive).scrollIntoView({ behavior: 'smooth' })
  const layout = document.querySelector('.layout')

  const setActiveMenu = () => {
    const navLink = document.querySelector(`#nav-${currentActive}>svg`)
    const currentActiveElement = document.querySelector(
      `my-navigation .text-brand`,
    )
    if (currentActiveElement) {
      currentActiveElement.classList.remove('text-brand')
    }
    navLink.classList.add('text-brand')
  }
  setActiveMenu()

  const checkActiveMenu = () => {
    const activeSection = sections.findLast(
      (section) => layout.scrollTop >= section.activePosition,
    )
    if (activeSection.name !== currentActive) {
      currentActive = activeSection.name
      setActiveMenu()
    }
  }

  layout.addEventListener('scroll', (event) => {
    checkActiveMenu()
  })

  // handle smooth scrolling
  const navLinks = document.querySelectorAll('a[href^="#"]')
  navLinks.forEach((link) => {
    link.addEventListener('click', (event) => {
      event.preventDefault()
      const id = link.getAttribute('href').substring(1)
      document.getElementById(id).scrollIntoView({ behavior: 'smooth' })
    })
  })
</script>
