---
import '@/assets/styles/global.css'

interface Props {
  title: string
  description?: string
}

const {
  title,
  description = "Hello, I'm Ferri Adi Prasetya! I'm a Software Engineer showcasing my skills and projects on this portfolio website. Explore my expertise in Software Engineering especially in Frontend Development. Let’s work together!",
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="index, follow" />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://ferriadi.my.id/preview.png" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
